*{
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

body{
    background-color: black !important;
}

.nav{
    position: sticky !important;
    top: 0;
}
.search{
    width: 100% !important;
    height: 40px;
    
    border-radius: 20px;
}
.search_div{
    padding: 1.5%;
}
.icon{
    width: 30px;
    height: 30px;
    transition: transform .4s ease, filter 2s ease;
}
.icon:hover{
    filter: brightness(0) invert(1) sepia(2) hue-rotate(0deg) saturate(10);
    transform: scale(1.2);
    transition: transform .4s ease;
}
.NavBar{
    display: flex;
}
.user_profile{
    width: 50px;
    margin-left: 80%;
}

.full_view{
    height: 100vh !important;
    overflow-y: visible !important;
}
.profile-part{
    position: relative;
}
.profile-pic{
    position: absolute;
    left: 29%;
    top: 77px;
    border: 8px solid black;
    border-radius: 10px;
}
.skill-box {
    margin: 0px 5px !important;
}

.skill {
    font-size: 13px;
    background-color: gray;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px;
    color: white;
}
.story-contant{
    height: 77px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin-top:3% !important;
}
.story{
    align-items: center;
    width: 72px;
}
.story img{
    width: 60px;
    height: 60px;
    padding: 4%;
    background-color: black;
    border-radius: 15%;
    border: 3px solid #fffd02;
}
.bg-yellow{
    background-color: #fffd02;
}