/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: "ADLaM Display", sans-serif;
    background: linear-gradient(245deg, rgba(0, 0, 0, 0.34) 49%, rgba(102, 102, 102, 0.34) 100%);
    overflow: hidden;
}
.appName{
    color: yellow;!important;
    font-family: "ADLaM Display";
    background: linear-gradient(260deg, #FFFD02 36.74%, #999801 97.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h-100{
    height: 100%;!important;
}

.input-box{
    position: relative;
    border-radius: 3px;
    border: 3px solid #FFF;
    background: #282828;
    width: 50%;!important;
    height: 60%; !important;
}
.remember{
    color: #FFF;
    font-family: "ADLaM Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
label{
    color: #FFF;
    font-family: "ADLaM Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welcome{
    color: #FFF;
    font-family: "ADLaM Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}