*{
    margin: 0px;
    padding: 0px;
    gap: 0px;
}
.nav{
    position: sticky top !important;
}
.NavBar{
    display: flex;
}
.search_div{
    padding: 1.5%;
}
.search{
    width: 100% !important;
    height: 40px;
    border: none;
    border-radius: 20px;
}
.search::placeholder {
    font-weight: bolder;
}
.search2::placeholder{
    color: white;
}
.icon{
    width: 30px;
    height: 30px;
    transition: transform .4s ease, filter 2s ease;
}
.icon:hover{
    filter: brightness(0) invert(1) sepia(2) hue-rotate(0deg) saturate(10);
    transform: scale(1.2);
    transition: transform .4s ease;
}
.user_profile{
    width: 50px;
    margin-left: 80%;
}
.full_view{
    height: 100vh !important;
    overflow-y: visible !important;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
}
.tabs-nav {
    border-bottom: 2px solid #444;
}
.tabs-nav .nav-link {
    color: #fff;
}
.tabs-nav .nav-link.active {
    color: yellow;
    border-color: yellow;
}
.graph-placeholder {
    background-color: rgba(255, 253, 2, 0.2);
    border: 1px dashed yellow;
    height: 200px;
}
.form-control {
    background-color: transparent;
    color: #fff;
    border: 2px solid yellow;
}
.form-control:focus {
    background-color: #333;
    border-color: yellow;
    box-shadow: none;
}
.btn-edit {
    background-color: yellow;
    color: #000;
    font-weight: bold;
    border: none;
}
.btn-edit:hover {
    background-color: #ffd700;
}
*text{
    color: white;
}